/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* button {
  cursor: pointer;
  appearance: none;
  border: none;
  background: transparent;
} */

/* Image Carousel styles */
:root {
  --main-border: 1px solid #7c7c7c44;
}

.frame,
.container div {
  height: 500px;
  width: 800px;
}

.frame {
  position: relative;
  border: 2px solid blue;
  overflow: hidden;
}

.container {
  position: absolute;
  display: flex;
  /* border: 2px solid red; */
}

.container div {
  position: relative;
  /* border: 2px solid lime; */
}

img {
  height: 100%;
  width: 100%;
}

button {
  position: absolute;
}

#left-button,
#right-button {
  bottom: 50%;
}

#right-button {
  right: 0;
}
